<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d715be9-5d8f-43af-b2a3-ff5c5d84c057" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2023-03-28T01:24:11</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ef762f0d-cdd3-4471-acca-c51967ff3484">ContentPage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </blocks>
    <header>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/66846ba153be4c20833139e0901650c5",
        "settingsUdi": "umb://element/2e1f72161eff40cfbeec1e21428c6285"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4bdf80a7-eb7c-46ca-b3b2-940d13c40b87",
      "udi": "umb://element/66846ba153be4c20833139e0901650c5",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/0d715be95d8f43afb2a3ff5c5d84c057\"}]",
      "image": "[\r\n  {\r\n    \"key\": \"13ae8990-24ba-4e40-b111-1da7d996f7a0\",\r\n    \"mediaKey\": \"51f942bc-f998-4ec9-b92d-a6c159dab6df\"\r\n  }\r\n]",
      "title": "Christopher Lincoln & Partners",
      "content": "Out in theatres now"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fcef8ba6-9654-4d15-b195-ab5c62900939",
      "udi": "umb://element/2e1f72161eff40cfbeec1e21428c6285",
      "imagePosition": "[\"Full width\"]"
    }
  ]
}]]></Value>
    </header>
    <seoDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>