<?xml version="1.0" encoding="utf-8"?>
<Media Key="51f942bc-f998-4ec9-b92d-a6c159dab6df" Alias="Pexels Stephan Seeber 1054218" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsStephanSeeber1054218</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-01T22:17:00</CreateDate>
    <NodeName Default="Pexels Stephan Seeber 1054218" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xjbpsumy/pexels-stephan-seeber-1054218.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>