<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a4bf692-155a-4e34-b279-ca70246e0f5b" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>1.+Pages</Folder>
    <Compositions>
      <Composition Key="fa34987b-93e7-44cb-a85d-e76c793078cf">contentComposition</Composition>
      <Composition Key="0f57339f-7e52-4c66-876f-f1f0d5281904">headerComposition</Composition>
      <Composition Key="fb62dbb4-9338-4a81-b40d-212ef1b0308d">sEOComposition</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ef762f0d-cdd3-4471-acca-c51967ff3484">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>