<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b618761-741a-4001-b92a-fda6126db271" Alias="Block List - Content blocks" Level="1">
  <Info>
    <Name>Block List - Content blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>