<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee545412-2f0c-4543-a8f9-7b48bf8002e9" Alias="Dropdown - Hero image position" Level="1">
  <Info>
    <Name>Dropdown - Hero image position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Full width"
    },
    {
      "id": 2,
      "value": "Left"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>