<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b419a744-d489-424d-8dda-f19012426909" Alias="Header Composition - Block List" Level="1">
  <Info>
    <Name>Header Composition - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4bdf80a7-eb7c-46ca-b3b2-940d13c40b87",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "fcef8ba6-9654-4d15-b195-ab5c62900939",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockPreview/block-preview.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": true,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>