<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06ea8e99-5742-41a6-acc0-cb99b3756589" Alias="Media Picker - Hero Image" Level="1">
  <Info>
    <Name>Media Picker - Hero Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "16:9",
      "height": 486,
      "label": "Full width",
      "width": 864
    },
    {
      "alias": "5:7",
      "height": 280,
      "label": "Side",
      "width": 200
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>